.alineacion_testimonios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    display: flex;
    align-items: center;
}

.card img {
    margin: 10px;
    width: 200px;
  height: 200px;
  object-fit: cover;
}